/* Todos os elementos da página */
 /*Remove o espaço de todos os navegadores, deixando eles com um valor padrão.*/
* {
    margin: 0; /*Margem do elemento, ou seja, o espaçamento externo do elemento.*/
    padding: 0; /*Preenchimento do elemento, ou seja, o espaçamento interno do elemento.*/
}
/* Elementos com o ID "cabecalho" */
#cabecalho{
    font-family: sans-serif;
    color: #e77d04;
    text-align: center;
    margin-bottom: 2%;
} 
.container{
    width: 100vw;  /*viewport width  largura da janela de visualização do usuário*/
    background: #dfdfdf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Elementos de tag <fieldset>*/
fieldset {
    border: 0; /*Borda do elemento fica invisivel ao usuário*/
    margin-top: 2%;
}

/* Elemento de tag <body> */
body{
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 1em;
    color: #e77d04;
    margin-top: 2%;
    justify-content: center; /*Esta propriedade alinha os itens do contêiner flexível quando os itens não usam todo o espaço disponível no eixo principal (horizontalmente).*/
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color:black;
    border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);/*Box-shadow cria uma sombra nas caixas de textos e o parâmetro alfa é um número entre 0,0 (totalmente transparente) e 1,0 (nem um pouco transparente):*/
    display: block;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> todas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e9e7e7;
}

/*Elemento da div id rodape*/
#rodape{
    display: flex;
    justify-content: center;
}
/* Elemento de classe "botao" */
#botao {
    font-size: 1.2em;
    background: #e77d04;
    border: 0;
    margin-bottom: 1em;
    color: #000000;
    padding: 0.2em 0.6em;
    margin-top: 1em;

}
/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
#botao:hover {
    background: #aaaaaa;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
/* Elementos de classe botão e de tag <select> */
#botao, select{
    cursor: pointer;
}
#inforodape{
    font-family: sans-serif;
    color: black;
    text-align: center;
    font-size: 1em;
}